# Node/Next
node_modules/
.next/
out/
dist/
build/
.vercel/
.turbo/
# OS / IDE / logs
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
# Env
.env
.env.local
.env.*.local
# Tests/coverage
coverage/
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/

# Node modules & backups
node_modules*/
.pnpm-store/
.npm/
.yarn/
.vercel
